In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("heart.csv")

In [3]:
df.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1

In [4]:
df.exang.value_counts()

0    204
1     99
Name: exang, dtype: int64

In [5]:
df.shape

(303, 14)

In [6]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
x=df.iloc[:,:-1]
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [10]:
y=df.iloc[:,-1]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=32)

In [13]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)

(212, 13)
(212,)
(91, 13)

In [14]:
# lets do some feature scaling on training and testing  dataset
from sklearn.preprocessing import StandardScaler

In [19]:
sc=StandardScaler()
print(sc.fit(x_train) )

sc.fit(x_test)

StandardScaler()

StandardScaler()

In [20]:
x_train=sc.transform(x_train)
x_test=sc.transform(x_test)

c:\users\ketandeep sharma\appdata\local\programs\python\python37\lib\site-packages\sklearn\base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

In [21]:
x_train

array([[-6.67518064, -0.0269532 , -1.87304141, ..., -3.08442627,
         0.57566235, -2.11421565],
       [-6.74048135, -4.73391538, -1.87304141, ..., -3.08442627,
        -1.51528795, -4.8828856 ],
       [-6.72742121, -0.0269532 , -1.87304141, ..., -3.08442627,
        -0.4698128 , -7.65155554],
       ...,
       [-6.75354149, -4.73391538,  0.01487378, ..., -3.08442627,
        -1.51528795, -4.8828856 ],
       [-6.76660163, -4.73391538, -1.87304141, ..., -3.08442627,
        -1.51528795, -4.8828856 ],
       [-6.89720305, -4.73391538, -1.87304141, ..., -3.08442627,
        -1.51528795, -2.11421565]])

In [22]:
x_test

array([[ 0.28060427,  0.63245553, -0.97361012, ...,  0.96890712,
        -0.71145564,  1.1400171 ],
       [ 0.52731913,  0.63245553, -0.97361012, ..., -0.52550895,
         1.52104309, -2.31803477],
       [ 1.76089344, -1.58113883,  1.94722024, ...,  0.96890712,
         1.52104309, -0.58900884],
       ...,
       [-0.08946803, -1.58113883,  0.97361012, ...,  0.96890712,
        -0.71145564, -0.58900884],
       [-2.43325921,  0.63245553, -0.97361012, ..., -0.52550895,
        -0.71145564,  1.1400171 ],
       [-1.93982949, -1.58113883,  0.97361012, ..., -0.52550895,
        -0.71145564, -0.58900884]])

In [23]:
x_train_sc=pd.DataFrame(x_train,columns=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal'])

In [24]:
x_test_sc=pd.DataFrame(x_test,columns=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal'])

In [25]:
x_train_sc

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,-6.675181,-0.026953,-1.873041,-7.548243,-5.352016,-1.480156,-2.864708,-6.444490,2.496541,0.399320,-3.084426,0.575662,-2.114216
1,-6.740481,-4.733915,-1.873041,-7.433766,-5.333987,-1.480156,4.274738,-6.491847,2.496541,0.833865,-3.084426,-1.515288,-4.882886
2,-6.727421,-0.026953,-1.873041,-7.590764,-5.391279,-1.480156,-2.864708,-6.514579,2.496541,-0.107648,-3.084426,-0.469813,-7.651556
3,-6.727421,-0.026953,0.958831,-7.630013,-5.387673,-1.480156,-2.864708,-6.406604,-2.301706,-0.252496,-3.084426,-1.515288,-2.114216
4,-6.923323,-4.733915,-0.929084,-7.597305,-5.383266,-1.480156,-2.864708,-6.387661,-2.301706,-0.614616,-0.548760,-1.515288,-4.882886
...,...,...,...,...,...,...,...,...,...,...,...,...,...
207,-6.792722,-0.026953,0.014874,-7.715054,-5.374052,-1.480156,0.705015,-6.421758,2.496541,-1.628552,-0.548760,-0.469813,-2.114216
208,-6.649060,-4.733915,-1.873041,-7.571139,-5.347209,6.097746,0.705015,-6.512684,-2.301706,-0.252496,-3.084426,1.621138,-4.882886
209,-6.753541,-4.733915,0.014874,-7.662721,-5.379260,-1.480156,0.705015,-6.414181,-2.301706,-0.469768,-3.084426,-1.515288,-4.882886
210,-6.766602,-4.733915,-1.873041,-7.597305,-5.359228,-1.480156,-2.864708,-6.442595,-2.301706,-1.338856,-3.084426,-1.515288,-4.882886
211,-6.897203,-4.733915,-1.873041,-7.590764,-5.328378,6.097746,-2.864708,-6.455856,2.496541,0.544168,-3.084426,-1.515288,-2.114216

In [28]:
x_test_sc

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.280604,0.632456,-0.97361,-0.028340,-0.899320,-0.479301,0.853419,0.793287,1.719454,-0.890306,0.968907,-0.711456,1.140017
1,0.527319,0.632456,-0.97361,1.805570,-1.568355,2.086370,-0.995655,-2.560347,-0.581580,-0.071116,-0.525509,1.521043,-2.318035
2,1.760893,-1.581139,1.94722,0.430137,-0.208703,-0.479301,0.853419,0.062367,-0.581580,0.584235,0.968907,1.521043,-0.589009
3,1.390821,-1.581139,0.97361,0.773995,0.632986,-0.479301,-0.995655,0.105362,-0.581580,-0.890306,-0.525509,0.404794,-0.589009
4,2.007608,-1.581139,0.97361,-1.289153,0.352423,2.086370,-0.995655,-0.840535,-0.581580,-0.890306,0.968907,0.404794,-0.589009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.650677,0.632456,-0.97361,0.430137,0.956713,-0.479301,-0.995655,0.879278,-0.581580,0.092721,-0.525509,1.521043,1.140017
87,-0.952970,0.632456,0.97361,-0.142959,0.093442,-0.479301,0.853419,1.266236,-0.581580,-0.890306,0.968907,-0.711456,-0.589009
88,-0.089468,-1.581139,0.97361,-1.403772,0.395587,-0.479301,-0.995655,0.750292,-0.581580,-0.890306,0.968907,-0.711456,-0.589009
89,-2.433259,0.632456,-0.97361,-0.716056,-1.093556,-0.479301,0.853419,-0.840535,1.719454,0.420397,-0.525509,-0.711456,1.140017
90,-1.939829,-1.581139,0.97361,0.315518,-0.618757,-0.479301,0.853419,0.105362,-0.581580,-0.890306,-0.525509,-0.711456,-0.589009

In [37]:

from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [39]:
models=[LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [40]:
for model in models:
    model.fit(x_train,y_train)
    prediction_set=model.predict(x_test)
    acc=accuracy_score(y_test,prediction_set)
    print("accuracy score of ",model,' = ',acc)

accuracy score of  LogisticRegression(max_iter=1000)  =  0.4835164835164835
accuracy score of  SVC(kernel='linear')  =  0.4835164835164835
accuracy score of  KNeighborsClassifier()  =  0.7582417582417582
accuracy score of  RandomForestClassifier()  =  0.7142857142857143

In [41]:
# lets try to scale our independent features directly
sc.fit(x)

StandardScaler()

In [43]:
x_scaled=sc.transform(x)
x_scaled

array([[ 0.9521966 ,  0.68100522,  1.97312292, ..., -2.27457861,
        -0.71442887, -2.14887271],
       [-1.91531289,  0.68100522,  1.00257707, ..., -2.27457861,
        -0.71442887, -0.51292188],
       [-1.47415758, -1.46841752,  0.03203122, ...,  0.97635214,
        -0.71442887, -0.51292188],
       ...,
       [ 1.50364073,  0.68100522, -0.93851463, ..., -0.64911323,
         1.24459328,  1.12302895],
       [ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221,  1.12302895],
       [ 0.29046364, -1.46841752,  0.03203122, ..., -0.64911323,
         0.26508221, -0.51292188]])

In [44]:
x_scaled_sc=pd.DataFrame(x_scaled,columns=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal'])

In [45]:
x_scaled_sc

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,0.952197,0.681005,1.973123,0.763956,-0.256334,2.394438,-1.005832,0.015443,-0.696631,1.087338,-2.274579,-0.714429,-2.148873
1,-1.915313,0.681005,1.002577,-0.092738,0.072199,-0.417635,0.898962,1.633471,-0.696631,2.122573,-2.274579,-0.714429,-0.512922
2,-1.474158,-1.468418,0.032031,-0.092738,-0.816773,-0.417635,-1.005832,0.977514,-0.696631,0.310912,0.976352,-0.714429,-0.512922
3,0.180175,0.681005,0.032031,-0.663867,-0.198357,-0.417635,0.898962,1.239897,-0.696631,-0.206705,0.976352,-0.714429,-0.512922
4,0.290464,-1.468418,-0.938515,-0.663867,2.082050,-0.417635,0.898962,0.583939,1.435481,-0.379244,0.976352,-0.714429,-0.512922
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,0.290464,-1.468418,-0.938515,0.478391,-0.101730,-0.417635,0.898962,-1.165281,1.435481,-0.724323,-0.649113,-0.714429,1.123029
299,-1.033002,0.681005,1.973123,-1.234996,0.342756,-0.417635,0.898962,-0.771706,-0.696631,0.138373,-0.649113,-0.714429,1.123029
300,1.503641,0.681005,-0.938515,0.706843,-1.029353,2.394438,0.898962,-0.378132,-0.696631,2.036303,-0.649113,1.244593,1.123029
301,0.290464,0.681005,-0.938515,-0.092738,-2.227533,-0.417635,0.898962,-1.515125,1.435481,0.138373,-0.649113,0.265082,1.123029
302,0.290464,-1.468418,0.032031,-0.092738,-0.198357,-0.417635,-1.005832,1.064975,-0.696631,-0.896862,-0.649113,0.265082,-0.512922

In [46]:
# again applying models and train test split
X_train,X_test,Y_train,Y_test=train_test_split(x_scaled_sc,y,test_size=0.3,random_state=32)

In [49]:
# again fitting in the models with same parameters
for model in models:
    model.fit(X_train,Y_train)
    prediction_set=model.predict(X_test)
    acc=accuracy_score(Y_test,prediction_set)
    print("accuracy score of ",model,' = ',acc)

accuracy score of  LogisticRegression(max_iter=1000)  =  0.8571428571428571
accuracy score of  SVC(kernel='linear')  =  0.8681318681318682
accuracy score of  KNeighborsClassifier()  =  0.8681318681318682
accuracy score of  RandomForestClassifier()  =  0.8241758241758241

# observation till now feature scaling enhanced the model performance

## Now crossValidation approach

Logistic regression

In [50]:
from sklearn.model_selection import cross_val_score

In [51]:
cv_lr=cross_val_score(LogisticRegression(max_iter=1000),x_scaled_sc,y,cv=5)
print(cv_lr)

[0.81967213 0.8852459  0.83606557 0.86666667 0.76666667]

In [52]:
mean_acc= sum(cv_lr)/len(cv_lr)
mean_acc

0.8348633879781422

SVC

In [53]:
cv_lr=cross_val_score(SVC(kernel='linear'),x_scaled_sc,y,cv=5)
print(cv_lr)
mean_acc= sum(cv_lr)/len(cv_lr)
print(mean_acc)

[0.81967213 0.8852459  0.80327869 0.88333333 0.76666667]
0.8316393442622951

From here we can understand the average score is decreasing that means our model was overfittting on some datasets

In [55]:
models_cv = [LogisticRegression(max_iter=1000), SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [58]:
for model in models_cv:
    cv_score=cross_val_score(model,x_scaled_sc,y,cv=5)
    mean_score=sum(cv_score)/len(cv_score)
    mean_score=mean_score*100
    mean_score=round(mean_score,2)
    print("cross validation score of  ",model,' = ',mean_score)

cross validation score of   LogisticRegression(max_iter=1000)  =  83.49
cross validation score of   SVC(kernel='linear')  =  83.16
cross validation score of   KNeighborsClassifier()  =  81.19
cross validation score of   RandomForestClassifier()  =  82.15

# Final Observation

Some sets accuracy is high but while taking mean accuracy of cross validation
We are getting a appropriate score

Scaling enhance or improve the model performance

# ThankYou